*{
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    color: black;

    
}

@import './secciones/header';
@import './secciones/seccion1';
@import './secciones/seccion2';
@import './secciones/seccion3';
@import './secciones/footer';
@import './secciones/form';
@import './secciones/nav';
@import './paginas/imagenes';


.grilla {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-template-areas:
        "Nav Nav Nav Nav"
        "Section-1 Section-1 Section-1 Section-1"
        "Section-2 Section-2 Section-2 Section-2"
        "Section-3 Section-3 Section-3 Section-3"
        "Footer Footer Footer Footer";
    ;
}

.Aside {
    grid-area: Aside;
}

@media (max-width: 768px) {
    .grilla {
        grid-template-areas:
        "Nav Nav Nav Nav"
        "Header Header Header Header"
        "Section-1 Section-1 Section-1 Section-1 "
        "Section-2 Section-2 Section-2 Section-2 "
        "Section-3 Section-3 Section-3 Section-3"
        "Footer Footer Footer Footer";        
    }
    .Aside{
        display: none;
    }
    .Nav {
        flex-direction: row;
        padding: 20px;
    }
    .Nav ul{
        display: flex;
        /* flex-direction: row; */
    }

    .ul2{
        display: none;
    }
    #servicios{
        max-width: 100px;
        max-height: 100px;
        align-items: center;

    }
    #servicios1{
        max-width: 75px;
        max-height: 75px;
        align-items: center;
    }
}

@media (max-width: 480px){
    .Section-1 img{
        display: none;
    }
    #servicios {
        display: none;
    }
    #servicios1{
       display: none;
    }
}
