#propiedades{
    max-height: 700px;
}

#texto{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: 100px;
}

#servicios{
    max-width: 300px;
    max-height: 300px;
}

#servicios1{
    max-width: 200px;
    max-height: 200px;
}

#carrusel{
    margin-top: 20px;
}